#Nuevo contenido
name: Actualizar Tasa BCV

on:
  schedule:
    - cron: '0 13 * * 1-5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar repositorio
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: pip install pyBCV

      - name: Configurar Git y Sincronizar
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git pull origin main --rebase

      - name: Ejecutar script de grabación
        run: python history_bcv.py --auto

      - name: Guardar cambios en el JSON
        run: |
          git add historial_tasas.json
          git commit -m "Auto-actualización tasa BCV: $(date +'%d-%m-%Y')" || exit 0
          git push origin main
